header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  min-width: 100%;
  background-color: black;
}
@media screen and (min-width: 769px  ) and (max-width: 2560px) {
  .scrolled {
    height: 90px;
  }
  .btn-menu{
    display: none;
  }
  .header_nav_scrolled{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 90px;
  }
  .nav_sup{
    padding-right: 250px;
  }
  .logo_scrolled {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo_scrolled img{
    height: 80px;
  }

  .article-info{
    position: relative;
    top: -250px;
  }
  .box-sponsor{
    position: relative;
    top: -250px;
  }
}
@media screen and (min-width: 300px ) and (max-width: 768px) {
  .box-container_header .nav_sup{
    display: none;
  }
  .item-menu{
    display: flex;
    justify-content: space-between;
  }
  .btn-menu{
    border: 1px solid transparent;
    background-color: transparent;
  }
  .ul-menu{
    position: relative;
    left: -286px;
    top: 70px;
    background-color: black;
  }
  .ul-menu ul{
    width: 318px;
  }
}