@media screen and (min-width: 1440px ) and (max-width: 2000px) {
  .box-container_header{
    background-color: black;
    min-width: 100vw
  }
  /* .container_header_nav{
    display: flex;
  } */
  .header_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 134px;
  }
  .logo{
    height: 134px;
    display: flex;
    align-items: center;
  }
  .logo img {
    display: flex;
    align-items: center;
    height: 90px;
  }
  .nav_sup {
    display: flex;
    flex-direction: row;
  }
  .nav_sup_ul{
    display: flex;
    flex-direction: row;
  }
  .nav_sup ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .nav_sup ul li a{
    padding: 0 14px;
    text-decoration: none;
  }
  .menu-item-1{
    width: 150px;
  }
  .menu-item-2{
    width: 140px;
  }
  .menu-item-3{
    width: 80px;
  }
  .menu-item-4{
    width: 100px;
  }
}
@media screen and (max-width: 320px ) {
  .box-container_header{
    width: 320px;
    background-color: black;
  }
  .container_header_nav{
    width: 320px;
  }
  .container_header_nav {
    display: flex;
    flex-direction: column;
    width: 320px;
  }
  .header_nav{
    width: 320px;
  }
}