@import url('../src/style/variables/imports.css');
@import url('../src/style/variables/normalize.css');
@import url('../src/style/variables/variables.css');
@import url('../src/style/variables/font.css');


:root {
  font-family: var(--fonts-text);
  line-height: 29.75px;
  font-weight: 300;
  text-align: left;
  font-size: 15px;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color:white;
}
i{
  color: #f9b233;
  font-size: 18px;
  font-weight: 400;
  line-height: 12.6px;
  text-align: left;
}

@media screen and (min-width: 769px) and ( max-width: 2560px) {
  main{
    background-color: yellow;
  }
}

/* @media screen and  (min-width: 768px) and (max-width: 1440px){
  main{
    background-color: blueviolet;
  }
} */
@media screen and (min-width: 300px ) and (max-width: 768px) {
  main{
    background-color: #535bf2;
  }
}  
